* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 130px;
}

.heade {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heade>.logo {
    margin-left: 13%;
}

.heade>.cuenta {
    margin-right: 10%;
}
.heade>.cuenta > a {
    display: block;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

p>a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h4 {
    color: white;
    text-align: left;   
}

.footer-container {
    background-color:black;
}
