* {
    margin: 0;
    padding: 0;
}

body {
    margin-top: 130px;
}

.heade {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heade>.logo {
    margin-left: 13%;
}

.heade>.cuenta {
    margin-right: 10%;
}
.heade>.cuenta > a {
    display: block;
    text-align: right;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}

p>a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

a:hover {
    color: red;
    text-decoration: underline;
}

h4 {
    color: white;
    text-align: left;   
}

.footer-container {
    background-color:black;
}

.perfil {
    width: 250px;
    height: 250px;
}

.product_title {
    padding: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    clear: none;
    margin-bottom: 10px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.price {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: #54d15e;
}

.pdesc {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: #838383;
}

.in-stock {
    color: #43C343;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 10px 0;
}

.out-stock {
    color: #ff0000;
    font-weight: 600;
    font-size: 14px;
    display: inline-block;
    padding: 10px 0;
}

.text-center{
    text-align: center;
}

.text-height{
    line-height: 45px;
}

.cantidad {
    border: 1px solid #ebebeb;
    width: 54px;
    height: 45px;
    display: inline;
    padding: 8px;
    margin: 0 3px;
    vertical-align: top;
    text-align: center;
}

.form-inline .form-group {
    margin-right:6px;
}

.product_meta {
    font-size: 13px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    clear: both;
    display: inline-block;
    position: relative;
    width: 100%;
}

.pm_enfasis {
    color: #000;
    display: inline-block;
    margin: 0;
    font-weight: 500;
    width: 100%;
    clear: both;
}

.pm_desc {
    margin-left: 5px;
    font-weight: normal;
    color: #808080;
}

.rela {
    display: inline !important;
}

.rela:hover {
    text-decoration: none !important;
}
.carrito tr,
.carrito tr td {
    vertical-align: middle;
}

.carrito thead tr th:first-child,
.carrito tbody tr td:first-child {
    text-align: center !important;
    width: 4em;
    min-width: 1em;
    max-width: 8em;
    word-break: break-all;
}

.carrito thead tr th:nth-child(2),
.carrito tbody tr td:nth-child(2) {
    text-align: center !important;
    width: 4em;
    min-width: 1em;
    max-width: 8em;
    word-break: break-all;
}

.actions {
    text-align: right !important;
} 

.carrito .aN {
    color: #212529;
    text-decoration: none;
}

.carrito .aN:hover {
    color: red;
    text-decoration: underline;
}

.aN {
    color: #212529;
    text-decoration: none;
}

.aN:hover {
    color: red;
    text-decoration: underline;
}

.cart-price {
    font-family: 'Nunito Sans', sans-serif;
    color: #54d15e;
}

.cart-subtotal {
    font-family: 'Nunito Sans', sans-serif;
    color: #838383;
}

.custom-file-label::after { content: "Elegir";}

.radio-control {height: 100px;}

.main {
    background: #ffffff;
    border-bottom: 15px solid #F81D2D;
    border-top: 15px solid #1E1F23;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #808080;
    font-size:10px;
}

.main thead {
    background: #1E1F23;
    color: #fff;
}

.main2 {
    background: #ffffff;
    border-bottom: 15px solid #F81D2D;
    border-top: 15px solid #1E1F23;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px 30px !important;
    position: relative;
    box-shadow: 0 1px 21px #808080;
    font-size:18px;
}

.main2 thead {
    background: #1E1F23;
    color: #fff;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}